###############################################################################
# Set default behavior to:
#   automatically normalize line endings on check-in, and
#   convert to Windows-style line endings on check-out
###############################################################################
* text=auto encoding=UTF-8
*.sh text eol=lf

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
*.cs    diff=csharp

###############################################################################
# Set file behavior to:
#   treat as text
###############################################################################
*.cmd               text
*.config            text
*.csproj            text
*.groovy            text
*.json              text
*.md                text
*.nuspec            text
*.pkgdef            text
*.proj              text
*.projitems         text
*.props             text
*.ps1               text
*.resx              text
*.ruleset           text
*.shproj            text
*.sln               text
*.targets           text
*.vb                text
*.vbproj            text
*.vcxproj           text
*.vcxproj.filters   text
*.vsct              text
*.vsixmanifest      text

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
*.snk   binary

###############################################################################
# diff behavior for common document formats
#
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the
# entries below.
###############################################################################
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain
